<% var TITLE='Dashboard' %>
<% include header %>

<div class="container">
  <div>
   <p style="height: 50px"></p>
   <p><h2>Total Page Visits:</h2></p>
    <div><iframe id='visitors' style="border-width: 0px" width="100%" height="530px" /></iframe></div>    

    <div>
      <div class="col-md-6">
         <p><h2>Visitor Actions:</h2></p>
         <div><iframe id='clicks' style="border-width: 0px" width="100%" height="530px"/></iframe></div>          
      </div>
      <div class="col-md-6">
         <p><h2>Visitor Degrees:</h2></p>
         <div><iframe id='degrees' style="border-width: 0px" width="100%" height="530px" /></iframe></div>    
      </div>      
    </div>
  <div style="font-size: 12px">
    <div class="col-md-6" >
          <div><p><b>Did not sign in</b> - the visitor opened the page but did not click on the LinkedIn sign in button</p>   </div>    
          <div><p><b>Clicked on sign in</b> - the visitor clicked on the LinkedIn sign in button but did not authorize the application to access LinkedIn data</p></div>    
          <div><p><b>Shared data</b> - the visitor uploaded their linked in data to the application</p>   </div>    
    </div>
    <div class="col-md-6">
          <div><p><b>STEM Degree</b> - number of uploaded LinkedIn profiles with degree classified as Science, Technology, Engineering, and Math </p><div><div><p><b>Non-STEM Degree</b> - number of uploaded LinkedIn profiles not classified as STEM</p></div>    
          <div><p><b>Unknown</b> - number of uploaded LinkedIn profiles where degree information was missing or not suitable for processing</p>   </div    
    </div>
</div>
  </div>
</div> <!-- /container -->
<script>
 function parseURL(url) {
      var a =  document.createElement('a');
      a.href = url;
      return {
          source: url,
          protocol: a.protocol.replace(':',''),
          host: a.hostname,
          port: a.port,
          query: a.search,
          params: (function(){
              var ret = {},
                  seg = a.search.replace(/^\?/,'').split('&'),
                  len = seg.length, i = 0, s;
              for (;i<len;i++) {
                  if (!seg[i]) { continue; }
                  s = seg[i].split('=');
                  ret[s[0]] = s[1];
              }
              return ret;
          })(),
          file: (a.pathname.match(/\/([^\/?#]+)$/i) || [,''])[1],
          hash: a.hash.replace('#',''),
          path: a.pathname.replace(/^([^\/])/,'/$1'),
          relative: (a.href.match(/tps?:\/\/[^\/]+(.+)/) || [,''])[1],
          segments: a.pathname.replace(/^\//,'').split('/')
      };
  }
  var hash = parseURL(document.URL).hash
  if (hash == "") hash = 'b';
  var visitors = 'visitors.' + hash + '.html', clicks = 'clicks.' + hash + '.html', degrees = 'degrees.' + hash + '.html';
  
  document.getElementById('visitors').src = visitors;
  document.getElementById('clicks').src = clicks;  
  document.getElementById('degrees').src = degrees;

</script>
<% include footer %>